  <form class="formulario" action="">
      <input class="formulario__input" type="text" placeholder="Example: Women">
      <button class="formulario__boton">Buscar</button>
  </form>    
<main class="page__main">
  <section class="carrito">
    <h2>Carrito de la compra</h2>
    <ul class="productosUL">
      <li>
        <div class="producto">
          <img class="imagen" src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" alt="">
          <p class="nombre-producto">Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
          <p class="precio-producto">109.6 €</p>
        </div>
      </li>
      <li>
        <div class="producto">
          <img class="imagen" src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" alt="">
          <p class="nombre-producto">Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
          <p class="precio-producto">109.6 €</p>
        </div>
      </li>
      <li>
        <div class="producto">
          <img class="imagen" src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" alt="">
          <p class="nombre-producto">Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
          <p class="precio-producto">109.6 €</p>
        </div>
      </li>
      <li>
        <div class="producto">
          <img class="imagen" src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" alt="">
          <p class="nombre-producto">Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
          <p class="precio-producto">109.6 €</p>
        </div>
      </li>
      <li>
        <div class="producto">
          <img class="imagen" src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" alt="">
          <p class="nombre-producto">Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
          <p class="precio-producto">109.6 €</p>
        </div>
      </li>
      <li>
        <div class="producto">
          <img class="imagen" src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" alt="">
          <p class="nombre-producto">Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
          <p class="precio-producto">109.6 €</p>
        </div>
      </li>
      
    </ul>
  </section>
  
  <section class="populares">
    <h2>Productos más populares</h2>
    <ul class="productosUL">
        <li>
        <div class="producto">
          <img class="imagen" src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" alt="">
          <p class="nombre-producto">Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
          <p class="precio-producto">109.6 €</p>
        </div>
      </li>
        <li>
        <div class="producto">
          <img class="imagen" src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" alt="">
          <p class="nombre-producto">Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
          <p class="precio-producto">109.6 €</p>
        </div>
      </li>
        <li>
        <div class="producto">
          <img class="imagen" src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" alt="">
          <p class="nombre-producto">Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
          <p class="precio-producto">109.6 €</p>
        </div>
      </li>
        <li>
        <div class="producto">
          <img class="imagen" src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" alt="">
          <p class="nombre-producto">Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
          <p class="precio-producto">109.6 €</p>
        </div>
      </li>
        <li>
        <div class="producto">
          <img class="imagen" src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" alt="">
          <p class="nombre-producto">Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
          <p class="precio-producto">109.6 €</p>
        </div>
      </li>
      <li>
        <div class="producto">
          <img class="imagen" src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" alt="">
          <p class="nombre-producto">Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
          <p class="precio-producto">109.6 €</p>
        </div>
      </li>
      <li>
        <div class="producto">
          <img class="imagen" src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" alt="">
          <p class="nombre-producto">Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
          <p class="precio-producto">109.6 €</p>
        </div>
      </li>
      <li>
        <div class="producto">
          <img class="imagen" src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" alt="">
          <p class="nombre-producto">Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
          <p class="precio-producto">109.6 €</p>
        </div>
      </li>
      <li>
        <div class="producto">
          <img class="imagen" src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" alt="">
          <p class="nombre-producto">Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
          <p class="precio-producto">109.6 €</p>
        </div>
      </li>
      <li>
        <div class="producto">
          <img class="imagen" src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" alt="">
          <p class="nombre-producto">Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
          <p class="precio-producto">109.6 €</p>
        </div>
      </li>
      <li>
        <div class="producto">
          <img class="imagen" src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" alt="">
          <p class="nombre-producto">Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
          <p class="precio-producto">109.6 €</p>
        </div>
      </li>

    </ul>
  </section>

</main>
