  <form class="formulario" action="">
      <input class="formulario__input js_input-buscar" type="text" placeholder="Example: Women">
      <button class="formulario__boton js_boton-buscar">Buscar</button>
  </form>    
<main class="page__main">
  <section class="carrito">
    <h2>Carrito de la compra</h2>
    <ul class="productosUL js_productos-cesta">
      
    </ul>
  </section>
  
  <section class="populares">
    <h2>Productos más populares</h2>
    <ul class="productosUL js_productos-centro">       
    </ul>
  </section>

</main>
